.bar-root {
  font-family: Noto Sans
}

.special {
  background-color: orangered
}

.ws-active {
  background-color: teal
}

.capson {
  background-color: red
}

.public-ip {
  background-color: orangered
}


/* hyprland workspaces widget */
.workspace-entry {
}

.workspace-entry.occupied {
  background-color: white;
}
.workspace-entry.empty {
  background-color: grey
}
.workspace-entry.current {
  // background-color: red;
  border: solid red 2px;
}
