* {
  font-family: mono;
}

.special {
  background-color: orangered
}

.ws-active {
  background-color: teal
}

.capson {
  background-color: red
}

.public-ip {
  background-color: orangered
}


/* hyprland workspaces widget */
.workspace-entry {
  border: dotted white 1px;
}

.workspace-entry.occupied {
  background-color: unset;
}
.workspace-entry.empty {
  background-color: grey
}
.workspace-entry.current {
  border: solid red 2px;
}

/* battery widget */
.bat-text-high {
  color: green;
}

.bat-text-low {
  color: yellow;
  animation: blinking 1s linear infinite;
}

.bat-text-critical, {
  color: black;
  animation: blinking 1s linear infinite;
  background-color: red;
}

@keyframes blinking {
  50% { opacity: 0.0; }
}
