.special {
  background-color: orangered
}

.ws-active {
  background-color: teal
}

.capson {
  background-color: red
}

.public-ip {
  background-color: orangered
}


/* hyprland workspaces widget */
.workspace-entry {
  border: dotted white 1px;
}

.workspace-entry.occupied {
  background-color: unset;
}
.workspace-entry.empty {
  background-color: grey
}
.workspace-entry.current {
  border: solid red 2px;
}
