*
!.gitignore
!*/
!eww/**
!mako/**
!hypr/**
!systemd/**
!gtk-3.0/**
!Kvantum/**
!gtk-2.0/**
!fcitx5/**
!qt5ct/**
!kitty/**
!xsettingsd/**
!xfce4/**
!swaylock/**
!weylus/**
!Thunar/**
!user-dirs.dirs
!user-dirs.locale
!mimeapps.list

fcitx*/dbus
